body {
	background-color: rgb(255,255,255);
	font-family: verdana;
	color: black;
	font-size: 100%;
}

nav {
	background-color: rgb(53,134,0);
}

.pfp {
    background-color:aliceblue;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 50%;
}